@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;900&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.name {
  font-weight: 700;
  font-size: 44px;
}

.section1 {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  max-width: 60vw;
}

.box1 {
  display: flex;
  flex: 1.4;
  border: 1px solid black;
  flex-direction: column;
  padding: 20px;
}

.box2 {
  display: flex;
  flex: 0.5;
  border: 1px solid black;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 600px) {
  .section1 {
    flex-direction: column;
  }
  .box1 {
    order: 2;
  }
  .box2 {
    order: 1;
  }
}
